[v-cloak] {
  display: none;
}

body {
  overflow-x: hidden;
}
:root {
  // Variables
  --bg-transparent: rgba(235, 228, 217, 0.5);
  --black: #0b292f;
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

// Core
@import "./core/fonts";
@import "./core/overflow";
@import "./core/lazy";
@import "./core/typography";
@import "./core/transition";
@import "./core/grid";
@import "./core/gutter";
@import "./core/space";
@import "./core/link";
@import "./core/button";
@import "./core/button--toggle";
@import "./core/align";
@import "./core/image";
@import "./core/blockquote";
@import "./core/icon";
@import "./core/ornament";
@import "./core/pattern";
@import "./core/position";
@import "./core/label";
@import "./core/selection";
// // @import "./core/video";
// // @import "./core/overflow";
// // @import "./core/modal";
// // @import "./core/range";
// // @import "./core/checkbox-radio";
// // @import "./core/toggle-text";

// Vendor
@import "./vendor/tiny-slider";
// @import "./vendor/choices";

// Menus
@import "./components/main-menu";
@import "./components/main-menu--modes";
@import "./components/main-menu--offscreen";
@import "./components/menu-bar";

// Sliders
// @import "./components/slider";

// Lists
@import "./components/menu-list";
@import "./components/social-list";
@import "./components/instagram-list";

// Forms
@import "./components/form-signup";
// @import "./components/form-base";

// Misc
@import "./components/section-header";
@import "./components/tabs";
@import "./components/menu-content";
@import "./components/pinterest";
// @import "./components/hcard";

@import "./components/site-footer";

// // .if-not-in-body-removed-by-purge {
// //   @apply text-green;
// // }
