
// Container
.container {
  @apply mx-auto;
  max-width: 90rem; // 1440

  &--sm {
    max-width: 72.5rem; // 1080 + 80 for padding
    @apply mx-auto;
  }
}

// Flex Grid
.flex-grid {
  @apply flex justify-between flex-wrap;
}


// Medium Screen
@screen md {

  // Flex Grid
  .flex-grid {
    // offset-content
    &__offset {
      @apply relative;
      left: -3rem;
    }
  }

  // md only
  .md\:flex-grid {
    @apply flex justify-between;
  }

}

// Screens
// MD
// @screen md {}


