// Container
.container {
  @apply mx-auto;
  max-width: 64.5rem; // 1032 + gutter (24)

  &--lg {
    max-width: 78rem; // 1248px + gutter-lg (40) for padding
    @apply mx-auto;
  }
}

// Flex Grid
.flex-grid {
  @apply flex justify-between flex-wrap;
}

// Medium Screen
@screen md {
  // Flex Grid
  .flex-grid {
    // offset-content
    &.-offset-l {
      @apply relative;
      left: -3rem;
    }
  }

  // md only
  .md\:flex-grid {
    @apply flex justify-between;
  }
}

// Screens
// MD
// @screen md {}
