// Icon
.icon {
  svg {
    @apply w-full h-full 
        timing-3 property-all duration-3;
  }

  &.-md {
    @apply w-12 h-12 block;
  }
  &.-sm {
    @apply w-6 h-6 block;
  }
  &.-xs {
    @apply w-4 h-4 block;
  }

  // Transforms
  &.-flip {
    transform: rotate(180deg);
  }
}

// Logo Icon
.logo,
.logo-icon {
  @apply w-full flex items-center;
}
// Logo
.logo {
  max-width: 5rem;
}
@screen md {
  // Logo
  .logo {
    max-width: 11.125rem;
  }
}

// Utility Classes
.a {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.cls-1 {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}
