.image {
  @apply relative
        overflow-hidden bg-orange;

  img{
    @apply absolute
            pin-t pin-l
            w-full
            h-full;
    backface-visibility: hidden;
  }

  // Show Overflow
  &.-show-overflow {
    @apply .overflow-visible;
  }

  // Ratios
  &.-is1x1 {
    padding-top: 100%;
  }

  &.-is12x16 {
    padding-top: 130.25%;
  }

  &.-is8x20 {
    padding-top: 169.25%;
  }

  &.-is8x10 {
    padding-top: 125%;
  }

  &.-is16x12 {
    padding-top: 76.35%;
  }

  &.-is16x9 {
    padding-top: 65.25%;
  }

  &.-is2x1 {
    padding-top: 50%;
  }

  &.-is3x2 {
    padding-top: 40.7%;
  }

  // Fit and Position
  &.-fit {
    &-cover img {
      object-fit: cover;
    }
    &-contain img {
      object-fit: contain;
    }
  }

  @media (max-width: 767px) {
    .object-right--sm {
      object-position: right;
    }
  }

  // Hover Transitions
  &.-hover-scale {
    img {
      @apply property-all duration-3 timing-3;
      transform: scale(1);
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }

  // Screens
  @screen md {
    &.-md\:is2x1 {
      padding-top: 50%;
    }
  }
}

// Inline Background
.inline-background {
  @apply w-full h-full;

  background-position: top center;
  background-size: cover;

  // Hover Transitions
  &.-hover-scale {
      @apply property-all duration-3 timing-3;
      transform: scale(1);
    &:hover {
        transform: scale(1.02);
    }
  }
}