// Links
.link {
  @apply no-underline
        font-semibold
        inline-block
        tracking-wide
        timing-1 duration-1 property-all;

  // Default
  @apply text-orange;

  &:hover {
    @apply text-grey-darker;
  }
  // Dark
  &.-dark {
    @apply text-green;

    &:hover {
      @apply text-green;
    }
  }
  // Orange
  &.-black {
    @apply text-black;

    &:hover {
      @apply text-orange;
    }
  }
}

// Default Link
a {
  @apply link
    underline;
  color: inherit;

  &:hover {
    @apply text-green;
  }
}

a,
button {
  outline: none !important;
}

// Focus Links (general accessibility)
// .focus-links {
//   a:focus,
//   button:focus {
//     color: #e8a879 !important;
//     border-color: #e8a879 !important;
//     .icon {
//       color: #e8a879;
//       border-color: #e8a879;
//     }
//   }
// }

// Section Anchor
.js-section-anchor {
  &.section-active {
    color: #53c07d !important;
  }
}
