.ornament {
  @apply relative;

  &.-brush {
    @apply mb-10;
    &:after {
      @apply absolute pseudo w-full pin-l;
      background: url("../img/raw/ornament_01.png") no-repeat;
      height: 1.125rem;
      width: 12.0625rem;
      bottom: -1.5rem;
      background-size: 90%;
    }
  }
}
