.overflow-x {
  overflow-x: scroll;
  // overflow-y: hidden;
  white-space: nowrap;
}

.overflow-gradient {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 0px,
    white 90%,
    transparent
  );
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.overflow-scroll {
  @apply flex flex-no-wrap
        items-center
        overflow-x
        overflow-gradient;
}
